@model RHQuercus.EvaluacionDesem

@{
    ViewBag.Title = "Details";
}

<h2>Información de la evaluación de desempeño</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Colaborador:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.NombrePers)
            @Html.DisplayFor(model => model.Persona.Apellidos)
        </dd>
        <dt>
            Fecha de evaluación:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEva)
        </dd>
        <hr />
        <dt>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pregunta1)
        </dd>

        <dt>
            Calificación:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calificacion1)
        </dd>
        <hr />
        <dt>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pregunta2)
        </dd>

        <dt>
            Calificación:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calificacion2)
        </dd>
        <hr />
        <dt>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pregunta3)
        </dd>

        <dt>
            Calificación:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calificacion3)
        </dd>
        <hr />
        <dt>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pregunta4)
        </dd>

        <dt>
            Calificación:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calificacion4)
        </dd>
        <hr />
        <dt>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pregunta5)
        </dd>

        <dt>
            Calificación:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calificacion5)
        </dd>
        <hr />
        <dt>
            Calificación final:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalificacionFinal)
        </dd>
        <hr />
        <dt>
            Observaciones:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

    </dl>
</div>

